{{traefik_web_ipaddress}} duplicati.home.local
{{traefik_web_ipaddress}} unsee.home.local
{{traefik_web_ipaddress}} traefik.home.local
{{traefik_web_ipaddress}} grafana.home.local
{{traefik_web_ipaddress}} pihole.home.local
{{traefik_web_ipaddress}} dashy.home.local
{{traefik_web_ipaddress}} dnsmasq.home.local
{{traefik_web_ipaddress}} pihole.xs.devilsan.com
{{traefik_web_ipaddress}} node1.minio.devilsan.com
{{traefik_web_ipaddress}} nextcloud.home.local
{{traefik_web_ipaddress}} adguard.home.local
{{traefik_web_ipaddress}} admin-adguard.home.local
{{traefik_web_ipaddress}} uptime.home.local
{{traefik_web_ipaddress}} wifi.home.local
{{traefik_web_ipaddress}} jenkins.home.local
{{traefik_web_ipaddress}} consul.home.local
{{traefik_web_ipaddress}} prometheus.home.local
{{traefik_web_ipaddress}} portainer.home.local
{{traefik_web_ipaddress}} beelink.minio.home.local
{{traefik_web_ipaddress}} pix.minio.home.local
{{traefik_web_ipaddress}} homer.home.local
{{traefik_web_ipaddress}} omv.home.local