version: "3.7"

services:
  cloudflared:
    image: visibilityspots/cloudflared
    ports:
      - "5054:5054/tcp"
      - "5054:5054/udp"
    networks:
      - {{traefik_network_name}}
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
           - "node.hostname==swarm-master"

  pihole:
    image: pihole/pihole:latest
    hostname: "{{pihole_app_name}}"
    ports:
      - target: {{pihole_ftl_dns_port}}
        published: 5300
        mode: host
        protocol: udp
      - target: {{pihole_web_port}}
        published: 8085
        mode: host
    volumes:
      - pihole:/etc/pihole
      - "/home/{{ansible_user}}/stacks/lighttpd/external.conf:/etc/lighttpd/external.conf"
      - dnsmasq:/etc/dnsmasq.d
    depends_on:
      - cloudflared
    environment:
      - "TZ=Europe/London"
      - "DNS1=1.1.1.1"
      - "DNS2=172.18.0.1#5054" #replace with docker_gwbridge's gateway ip
      - "REV_SERVER=true"
      - "REV_SERVER_CIDR=192.168.1.0/24" #Update these fields to match your environment
      - "REV_SERVER_TARGET={{REV_SERVER_TARGET}}"
      - "REV_SERVER_DOMAIN={{app_domain_name}}"
      - "WEBPASSWORD_FILE={{pihole_web_password}}"
    networks:
      - {{traefik_network_name}}
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.pihole-http.rule=Host(`{{pihole_app_name}}.{{app_domain_name}}`)"
        - "traefik.http.routers.pihole-http.entrypoints={{traefik_network_name}}"
        - "traefik.http.middlewares.add-admin-prefix.addprefix.prefix=/admin"
        - "traefik.http.routers.pihole-http.middlewares=add-admin-prefix"
        - "traefik.http.services.pihole-http.loadbalancer.server.port={{pihole_web_port}}"
        - "traefik.http.services.pihole-http.loadbalancer.passhostheader=true"
        - "traefik.http.services.pihole-http.loadbalancer.healthcheck.scheme={{pihole_web_protocol}}"
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - "node.hostname==swarm-master"

networks:
  {{traefik_network_name}}:
    external: true
    name: {{traefik_network_name}}

volumes:
  pihole:
  dnsmasq:

