[Unit]
Description=RClone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/etc/rclone.conf
KillMode=none
RestartSec=5
ExecStart=/usr/local/bin/rclone  mount minio:etc /mnt/etc \
--allow-other \
--buffer-size 256M \
--dir-cache-time 1000h \
--log-level DEBUG \
--log-file /var/log/rclone.log \
--timeout 1h \
--umask 002 \
--rc-web-gui-no-open-browser \
--rc \
--vfs-read-chunk-size-limit=2048M \
--vfs-read-chunk-size=64M \
--vfs-cache-mode=full \
--vfs-cache-max-size=150G \
--vfs-cache-max-age=12h

ExecStop=/bin/fusermount -uz /mnt/etc 
Restart=on-failure