CREATE USER '{{MYSQL_USER}}'@'10.0.1.%' IDENTIFIED BY '{{MYSQL_PASSWORD}}';
CREATE DATABASE IF NOT EXISTS {{MYSQL_DATABASE}} CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
GRANT ALL PRIVILEGES on {{MYSQL_DATABASE}}.* to '{{MYSQL_USER}}'@'10.0.1.%';
FLUSH privileges;