
version: '3.7'

services:
  pihole:
    image: pihole/pihole:latest
    hostname: "{{pihole_app_name}}"
    ports:
      - "192.168.1.11:{{pihole_ftl_dns_port}}53:{{pihole_ftl_dns_port}}/udp"
      - "192.168.1.11:{{pihole_ftl_dns_port}}53:{{pihole_ftl_dns_port}}/tcp"
      - "192.168.1.11:8088:{{pihole_web_port}}/tcp"
    restart: unless-stopped
    volumes:
      - /etc/pihole:/etc/pihole
      - "/home/{{ansible_user}}/stacks/lighttpd/external.conf:/etc/lighttpd/external.conf"
      - "/home/{{ansible_user}}/stacks/pihole/custom.list:/etc/pihole/custom.list"
      - dnsmasq:/etc/dnsmasq.d
    environment:
      - "TZ=Europe/London"
      - "DNS1=100.80.74.107#5054"
      - "DNS2=100.108.105.3#5054"
      - "REV_SERVER=true"
      - "REV_SERVER_CIDR=192.168.1.1/24" #Update these fields to match your environment
      - "REV_SERVER_TARGET={{REV_SERVER_TARGET}}"
      - "REV_SERVER_DOMAIN={{app_domain_name}}"
      - "WEBPASSWORD={{pihole_web_password}}"
    cap_add:
        - SYS_PTRACE
    networks:
      - {{traefik_network_name}}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole-http.rule=Host(`{{pihole_app_name}}.{{app_domain_name}}`)"
      - "traefik.http.routers.pihole-http.entrypoints={{traefik_network_name}}"
      - "traefik.http.middlewares.add-admin-prefix.addprefix.prefix=/admin"
      - "traefik.http.routers.pihole-http.middlewares=add-admin-prefix@docker"
      - "traefik.http.routers.pihole-http.service=pihole-http-svc"
      - "traefik.http.services.pihole-http-svc.loadbalancer.server.port={{pihole_web_port}}"
      - "traefik.http.services.pihole-http-svc.loadbalancer.passhostheader=true"

  pihole_exporter:
    image: ekofr/pihole-exporter:latest
    hostname: pihole_exporter
    networks:
      - {{traefik_network_name}}
    command: "./pihole-exporter -pihole_hostname {{pihole_host_ip}} -pihole_port {{pihole_web_port}} -pihole_password {{pihole_web_password}}"
    environment:
      - "PIHOLE_PORT: {{pihole_web_port}}"
      - "PIHOLE_PASSWORD: {{pihole_web_password}}"
      - "INTERVAL: 30s"
      - "PORT: {{pihole_exporter_port}}"
    ports:
      - target: {{pihole_exporter_port}}
        published: {{pihole_exporter_port}}
        mode: host
    labels:
      - "traefik.enable=false"

volumes:
  dnsmasq:

networks:
  {{traefik_network_name}}:
    external: true
