version: '3'

services:
  reverse-proxy:
    image: traefik:2.8.3
    hostname: "{{traefik_app_name}}"
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - LINODE_TOKEN={{lookup('env', 'LINODE_TOKEN')}}
    labels:
      - "diun.enable: true"
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`{{traefik_app_name}}.{{app_domain_name}}`)"
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.services.dummy-svc.loadbalancer.server.port=9999"
      - "traefik.http.routers.api.entrypoints=web"
    command:
      - "--api.dashboard=true"
      - "--providers.docker"
      - "--providers.docker.swarmMode=false"
      - "--entrypoints.web.address=:{{traefik_listen_port}}"
      - "--providers.docker.exposedByDefault=false"
      - "--providers.docker.network={{traefik_network_name}}"
      - "--log.level=DEBUG"
      - "--log.filePath=/var/log/traefik.log"
      - "--accessLog.filePath=/var/log/access.log"
    ports:
      - target: 443
        published: 443
        mode: host
      - target: {{traefik_listen_port}}
        published: {{traefik_listen_port}}
        mode: host
      - target: {{traefik_admin_port}}
        published: {{traefik_admin_port}}
        mode: host
      - target: 53
        published: 53
        protocol: udp
        mode: host
      - target: 53
        published: 53
        protocol: tcp
        mode: host
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /home/{{ansible_user}}/stacks/traefik/:/letsencrypt
      - /var/log/traefik.log:/var/log/traefik.log
      - /var/log/access.log:/var/log/access.log
      - /home/{{ansible_user}}/stacks/traefik/static/traefik.yml:/traefik.yml
      - /home/{{ansible_user}}/stacks/traefik/config:/config/
      - /home/{{ansible_user}}/stacks/traefik/certs:/certs/
    networks:
      - {{traefik_network_name}}

networks:
  {{traefik_network_name}}:
    external: true
