version: '3.7'
services:

  mosquitto:
    container_name: mqtt
    image: eclipse-mosquitto
    mem_limit: 640m
    mem_reservation: 240M
    cpus: 1
    networks:
      - {{traefik_network_name}}
    ports:
      - "1883:1883"
      # This port is for Webhooks
      - "9001:9001"
    volumes:
      - /home/{{ansible_user}}/stacks/mqtt/config:/mosquitto/config
      - /home/{{ansible_user}}/stacks/mqtt/data:/mosquitto/data
      - /home/{{ansible_user}}/stacks/mqtt/log:/mosquitto/log

networks:
  {{traefik_network_name}}:
    external: true
