version: "3.7"

configs:
  dnsmasq_config:
    file: /home/{{ansible_user}}/stacks/dnsmasq/config/dnsmasq.conf

services:
  adguardhome:
    image: adguard/adguardhome
    ports:
      - target: 53
        published: 53
        mode: host
        protocol: tcp
      - target: 53
        published: 53
        mode: host
        protocol: udp
      - target: 67
        published: 67
        mode: host
        protocol: udp
      - target: 853
        published: 853
        mode: host
        protocol: tcp
      - target: 3000
        published: 3002
        mode: host
        protocol: tcp
      - target: {{adguard_web_port}}
        published: 8002
        mode: host
        protocol: tcp
    networks:
      - {{traefik_network_name}}
    volumes:
      - adguard_config:/opt/adguardhome/conf
      - adguard_work:/opt/adguardhome/work
    deploy:
      labels:
        - "diun.enable=true"
        - "traefik.enable=true"
        - "traefik.http.routers.admin-adguard-http.rule=Host(`{{adguard_admin_app_name}}.{{app_domain_name}}`)"
        - "traefik.http.routers.admin-adguard-http.entrypoints={{traefik_network_name}}"
        - "traefik.http.routers.admin-adguard-http.service=admin-adguard-http-svc"
        - "traefik.http.services.admin-adguard-http-svc.loadbalancer.server.port={{adguard_admin_web_port}}"

        - "traefik.http.routers.adguard-http.rule=Host(`{{adguard_app_name}}.{{app_domain_name}}`)"
        - "traefik.http.routers.adguard-http.entrypoints={{traefik_network_name}}"
        - "traefik.http.routers.adguard-http.service=adguard-http-svc"
        - "traefik.http.services.adguard-http-svc.loadbalancer.server.port={{adguard_web_port}}"
      mode: replicated
      replicas: 1
      placement:
        constraints:
           - "node.hostname==swarm-worker-node"
    
  cloudflared:
    image: visibilityspots/cloudflared
    ports:
      - target: 5054
        published: 5054
        mode: host
        protocol: udp
      - target: 8080
        published: 8086
        mode: host
    networks:
      - {{traefik_network_name}}
    deploy:
      labels:
        - "diun.enable=true"
      mode: replicated
      replicas: 0
      placement:
        constraints:
           - "node.hostname==swarm-master"

  dnsmasq:
    image: jpillora/dnsmasq:latest
    networks:
      - {{traefik_network_name}}
    configs:
       - source: dnsmasq_config
         target: /etc/dnsmasq.conf
    environment:
      - "HTTP_USER={{DNSMASQ_HTTP_USER}}"
      - "HTTP_PASS={{DNSMASQ_HTTP_PASS}}"
    logging:
      options:
        max-size: "100m"
    deploy:
      labels:
        - "diun.enable=true"
        - "traefik.enable=true"
        - "traefik.http.routers.dnsmasq-http.rule=Host(`{{dnsmasq_app_name}}.{{app_domain_name}}`)"
        - "traefik.http.routers.dnsmasq-http.entrypoints={{traefik_network_name}}"
        - "traefik.http.routers.dnsmasq-http.service=dnsmasq-http"
        - "traefik.http.services.dnsmasq-http.loadbalancer.server.port={{dnsmasq_web_port}}"
        - "traefik.http.services.dnsmasq-http.loadbalancer.passhostheader=true"
        - "traefik.http.services.dnsmasq-http.loadbalancer.healthcheck.scheme={{dnsmasq_web_protocol}}"
      mode: replicated
      replicas: 0
      placement:
        constraints:
          - "node.role==worker"

  pihole_exporter:
    image: ekofr/pihole-exporter:latest
    hostname: pihole_exporter
    networks:
      - {{traefik_network_name}}
    command: "./pihole-exporter -pihole_hostname {{pihole_host_ip}} -pihole_port {{pihole_web_port}} -pihole_password {{pihole_web_password}}"
    environment:
      - "PIHOLE_PORT: {{pihole_web_port}}"
      - "PIHOLE_PASSWORD: {{pihole_web_password}}"
      - "INTERVAL: 30s"
      - "PORT: {{pihole_exporter_port}}"
    ports:
      - target: {{pihole_exporter_port}}
        published: {{pihole_exporter_port}}
        mode: host
    deploy:
      labels:
        - "diun.enable=true"
        - "traefik.enable=false"
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - "node.role==manager"    

networks:
  {{traefik_network_name}}:
    external: true
    name: {{traefik_network_name}}

volumes:
  pihole:
  dnsmasq:
  adguard_config:
  adguard_work:

