version: "3.7"

configs:
  dnsmasq_config:
    file: /home/{{ansible_user}}/stacks/dnsmasq/config/dnsmasq.conf

services:
  cloudflared:
    image: visibilityspots/cloudflared
    ports:
      - target: 5054
        published: 5054
        mode: host
        protocol: udp
      - target: 8080
        published: 8086
        mode: host
    networks:
      - {{traefik_network_name}}
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
           - "node.hostname==swarm-master"

  dnsmasq:
    image: jpillora/dnsmasq:latest
    ports:
      - target: 53
        published: 53
        mode: host
        protocol: udp
      - target: {{dnsmasq_web_port}}
        published: 5380
        mode: host
    networks:
      - {{traefik_network_name}}
    configs:
       - source: dnsmasq_config
         target: /etc/dnsmasq.conf
    environment:
      - "HTTP_USER={{DNSMASQ_HTTP_USER}}"
      - "HTTP_PASS={{DNSMASQ_HTTP_PASS}}"
    logging:
      options:
        max-size: "100m"
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.dnsmasq-http.rule=Host(`{{dnsmasq_app_name}}.{{app_domain_name}}`)"
        - "traefik.http.routers.dnsmasq-http.entrypoints={{traefik_network_name}}"
        - "traefik.http.services.dnsmasq-http.loadbalancer.server.port={{dnsmasq_web_port}}"
        - "traefik.http.services.dnsmasq-http.loadbalancer.passhostheader=true"
        - "traefik.http.services.dnsmasq-http.loadbalancer.healthcheck.scheme={{dnsmasq_web_protocol}}"
      mode: replicated
      replicas: 0
      placement:
        constraints:
          - "node.role==worker"

networks:
  {{traefik_network_name}}:
    external: true
    name: {{traefik_network_name}}

volumes:
  pihole:
  dnsmasq:

