{{traefik_web_ipaddress}}    traefik.home.local
{{traefik_web_ipaddress}}    uptime.home.local
{{traefik_web_ipaddress}}    pihole.home.local
{{traefik_web_ipaddress}}    access.devilsan.com
{{traefik_web_ipaddress}}    jenkins.access.devilsan.com
{{traefik_web_ipaddress}}    pihole.access.devilsan.com
{{traefik_web_ipaddress}}    cockpit.access.devilsan.com
{{traefik_web_ipaddress}}    rockpix.access.devilsan.com
{{traefik_web_ipaddress}}    grafana.access.devilsan.com
{{traefik_web_ipaddress}}    uptime.access.devilsan.com