[Unit]
Description=RClone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/etc/rclone.conf
KillMode=none
RestartSec=5
ExecStart=/usr/local/bin/rclone mount minio:data /mnt/data \
--allow-other \
--buffer-size 256M \
--dir-cache-time 1000h \
--log-level DEBUG \
--log-file /var/log/rclone.log \
--poll-interval 15s \
--timeout 1h \
--umask 002 \
--rc
ExecStop=/bin/fusermount -u /mnt/data 
Restart=on-failure