[minio]
type = s3
provider = Minio
access_key_id = {{minio_access_key_id}}
secret_access_key = {{minio_secret_access_key}}
endpoint = {{minio_endpoint_protocol}}://{{minio_ip_address}}:{{minio_port_address}}