watch:
  workers: 30
  schedule: "0 */6 * * *"
  firstCheckNotif: false

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    watchStopped: true
  swarm:
    endpoint: "unix:///var/run/docker.sock"

notif:
  telegram:
    token: {{diun_telegram_token}}
    chatIDs:
      - 869747957
    templateBody: |
      "Docker tag '{{ '{{' }} {{ '.Entry.Image'}} {{ '}}' }} which you subscribed to through  {{ '{{' }} {{ '.Entry.Provider' }} {{ '}}' }}' provider has been released."
