{{traefik_web_ipaddress}}    traefik.home.local
{{traefik_web_ipaddress}}    uptime.home.local
{{traefik_web_ipaddress}}    pihole.home.local
{{traefik_web_ipaddress}}    access.{{website_tld}}
{{traefik_web_ipaddress}}    prometheus.access.devilsan.com
{{traefik_web_ipaddress}}    jenkins.access.{{website_tld}}
{{traefik_web_ipaddress}}    pihole.access.{{website_tld}}
{{traefik_web_ipaddress}}    cockpit.access.{{website_tld}}
{{traefik_web_ipaddress}}    rockpix.access.{{website_tld}}
{{traefik_web_ipaddress}}    grafana.access.{{website_tld}}
{{traefik_web_ipaddress}}    uptime.access.{{website_tld}}
{{traefik_web_ipaddress}}    {{authelia_app_name}}.{{website_tld}}