[Unit]
Description=Node Exporter
After=network.target
 
[Service]
Type=simple
User=ansible
Group=ansible
ExecStart=/usr/local/bin/node_exporter  --web.listen-address=:{{node_exporter_port}}
 
[Install]
WantedBy=multi-user.target