version: '3.7'

services:

  consul-client:
    image: hashicorp/consul:1.11.2
    container_name: consul-client
    restart: always
    volumes:
     - ./client.json:/consul/config/client.json
     - ./certs/:/consul/config/certs/
    networks:
      - consul
    command: "agent"

networks:
  consul:
    driver: bridge
